@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
}

/* 애니메이션 정의 */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px); /* 왼쪽에서 들어오기 */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px); /* 오른쪽에서 들어오기 */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 텍스트 애니메이션 (왼쪽에서 오른쪽) */
.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0; /* 초기값 숨김 */
}

/* 검색바 애니메이션 (오른쪽에서 왼쪽) */
.fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 0.8s;
  opacity: 0; /* 초기값 숨김 */
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 2s linear infinite;
}

/* src/components/createplan/travelPlan.jsx */
.max-h-96.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

.no-margin {
  margin: 0 !important;
}
/* 모달창 위아래 인원수 조정버튼 없애기*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
