@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
/* 애니메이션 정의 */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px); /* 왼쪽에서 들어오기 */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px); /* 오른쪽에서 들어오기 */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 텍스트 애니메이션 (왼쪽에서 오른쪽) */
.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0; /* 초기값 숨김 */
}

/* 검색바 애니메이션 (오른쪽에서 왼쪽) */
.fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 0.8s;
  opacity: 0; /* 초기값 숨김 */
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
